<div>
  <label>Username:</label>
  <input [(ngModel)]="username" (blur)="touched = true" />
  <div *ngIf="!username && touched" style="color: red;">
    Username is required.
  </div>
</div>

<div>
  <label>Password:</label>
  <input [(ngModel)]="password" type="password" (blur)="touched = true" />
  <div *ngIf="password.length < 6 && touched" style="color: red;">
    Password must be at least 6 characters.
  </div>
</div>

<div>
  <label>Confirm Password:</label>
  <input [(ngModel)]="confirmPassword" type="password" (blur)="touched = true" />
  <div *ngIf="confirmPassword !== password && touched" style="color: red;">
    Passwords do not match.
  </div>
</div>

<button [disabled]="!username || password.length < 6 || confirmPassword !== password">
  Submit
</button>
