<form (ngSubmit)="onSubmit()">
  <div class="textbox">
    <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
  </div>
  <div class="textbox">
    <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
  </div>
  <div class="textbox">
    <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
  </div>
  <button type="submit" class="register-btn">Register</button>
</form>
